html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fff;
  margin: 0;
}

.container {
  height: 92vh;
}

.button {
  background-color: #11a384 !important;
}

.buttonContainer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.sideBar {
  background-color: white;
  width: 25vw;
  display: inline-block;
  height: 100%;
  overflow: auto;
}

.sideBarContent {
  padding: 55px 6px;
  height: 85%;
  position: relative;
}

.mainContainer {
  width: 75vw !important;
  display: inline-block;
  background-color: #f7f8f9 !important;
  overflow: auto;
  vertical-align: top;
  height: 100%;
}

.mainContainerContent {
  padding: 16px;
}
